{% extends "layout/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container vh-100">
    <div class="row justify-content-center align-items-center" style="height: 90vh;">
        <div class="col-md-4 my-5 card p-5">
            <form class="login card-body" method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {% bootstrap_form form layout='floating' %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                {% bootstrap_button button_type="submit" content="Sign up" %}
            </form>
            <div class="card-body">
                {% get_providers as socialaccount_providers %}
                {% if socialaccount_providers %}
                <div class="socialaccount_providers">
                    <a class="btn btn-block btn-dark" href="{% provider_login_url 'github' %}">Github</a>
                </div>
                {% endif %}
                {% trans 'or' %}
                <div>
                    <a class="btn btn-outline-primary" href="{% url 'account_login' %}">{% trans "login to account" %}</a>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block css %}
<style>
    body {
        background-color: rgb(209, 230, 135);
    }
</style>
{% endblock css %}