{% extends 'layout/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">
            <img src="{{ product.image.url}}" alt="" class="img-fluid">
        </div>
        <div class="col-md-8 mt-5">
            <h2>
                {{product.name}}
                <span>
                    <a href="{% url 'edit_product' product.id %}" class="btn btn-primary">Edit</a>
                </span>
            </h2>
            <p>
                {{product.stock}}
            </p>
            <p>
                {{product.price}}
            </p>
            <p class="lead">
                seller : {{product.user}}
            </p>

            {% if user == product.user %}
            <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete</a>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}