{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} {% endblock %}
    </title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block css %} {% endblock %}
</head>
<body>
    <header>
        {% include 'partials/navbar.html' %}
        {% bootstrap_messages %}
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    {% block js %} {% endblock %}
</body>
</html>